@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


li {
  list-style-type: none;
}


.wrapper {
  max-width: 960px;
  margin: 80px auto;
  font-size: 0.9rem;
  padding: 0 5%;
}


/* header */
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin: 0 auto;
  padding: 0 4%;
}

#header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header li {
  padding: 0 10px;
}

#header a {
  text-decoration: none;
  color: #000;
  transition: color 1s ease-in-out;
}

#header a:hover {
  color: #eee;
}

#header a:hover {
  color: #eee;
}

h1,
h2,
h3,
h4 {
  font-family: 'Genos', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h4 {
  font-size: 1.5rem;
}
h4 span {
  font-size: 0.6rem;
  padding-left: 20px;
}
h5 {
  font-size: 1.1rem;
  margin: 0;
}



/* main */

/* mainvisual */

#mainvisual img {
width: 100%;
    max-width: 1920px;
    background-size: cover;
  }


/* section */
.sec-title {
  text-align: center;
  margin-bottom: 65px;
  font-size: 1.8rem;
}

#about-2 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

#about-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  width: 600px;
}
#about-3 {
  flex-direction: column;
}
#about ul {
  margin-bottom: 30px;
}

#about li:first-child {
  margin-bottom: 30px;
}

#about p {
  text-align: justify;
  padding: 0 40px;
}

/* work */
#works ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

#works li {
  width: 32%;
  margin-bottom: 23px;
}

/* news */
#news dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px 0;
}

#news dt:first-child {
  border-top: solid 1px #c8c8c8;
}

#news dd:last-child {
  border-bottom: solid 1px #c8c8c8;
}

#news dd {
  width: 78%;
  border-top: solid 1px #c8c8c8;
  padding: 15px 0;
  margin: 0;
}



/* contact */
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
  box-sizing: border-box;
}

#contact dd {
  width: 80%;
  box-sizing: border-box;
  margin-left: 0;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact .btn {
  text-align: center;
  margin-bottom: 30px;
}

#contact .btn input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}

#contact .btn input:hover {
  background: #fff;
  color: #24292e;
}

/* footer */

#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

/* smp */
@media screen and (max-width: 767px) {
  .wrapper {
    margin-bottom: 70px;
    margin-right: 4%;
  }

  #logo {
    margin-top: 20px;
  }

  .sec-title {
    margin-bottom: 40px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/

  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works ul {
    flex-direction: column;
  }

  #works li {
    width: 100%;
  }

  /*-------------------------------------------
  News
  -------------------------------------------*/
  #news dl {
    flex-direction: column;
  }

  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #news dd {
    width: 100%;
    border-bottom: none;
    padding-top: 0;
  }

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact dl {
    flex-direction: column;
  }

  #contact dt {
    width: 100%;
  }

  #contact dd {
    width: 100%;
  }
}

/*==================================================
　5-2-8 3本線が横方向に回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn {
  /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: relative;
  background: #ccc;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn .openbtn-area {
  transition: all .6s;
  /*アニメーションの設定*/
  width: 50px;
  height: 50px;
}

.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 31px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/
.openbtn.active .openbtn-area {
  transform: rotate(360deg);
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}